body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom left, #f8cb7e, #bc8236);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeTitle, a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.artworktile {
    width: 30vw;
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.artworkTitle {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
}

.imgThumb {
    width: 25vw;
}

.allArtworks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork {
    margin: 20px 10vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: white;
}

.artworkImage {
    width: 60vw;
}

.nav {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.navLink {
    margin: 0px 10px;
    padding: 0px 10px;
}

.artworkDetails {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 0px 10px;
    padding: 0px 10px;
}